.post-list
each p, i in page.posts.data
  section(itemscope itemtype="http://schema.org/BlogPosting" role="article" class=('post ' + (i % 2 === 0 ? 'even' : 'odd')) id=(i === 0 ? "start" : '') data-author-name=config.author data-author-img="" data-author-bio="Hello world")
    div(class=('post-header' +  (p.image ? 'has-background' : '')) style=(p.image ? "background-image: url({{image}})" : ''))
      .header-wrap
        h2.post-title(itemprop="name")
          a(itemprop="url" href=url_for(p.path))= p.title
        .post-meta #{p.date.fromNow()}
        .line
        if p.tags
          .post-meta
        if p.featured
          .post-meta
            i.fa.fa-star
            span Featured
        .post-excerpt(itemprop="description")
          | !{p.excerpt}
        .post-action
          a.read-more(href=url_for(p.path))
            span Read More
              i.fa.fa-angle-right
  // .post-content
    | !{p.excerpt}
if page.posts.length
  section.pagination-section
    .pagination-wrap