main.body-content(role="main")
  section(itemscope itemtype="http://schema.org/BlogPosting" role="article" class=('post formatted ' + (page.tags || page.featured ? 'has-sub-meta' : '')))
    .post-header(style=(page.background ? 'background:url(' + page.background + ');' : ''))
      .header-wrap
        h1.post-title(itemprop="name headline")
          | !{page.title}
        .post-meta By #{config.author} -
          time(datetime=page.date itemprop="datePublished")= ' ' + page.date.format('MMM D, YYYY')
          .line
          if page.tags.length
            .post-meta
              i.fa.fa-tags
              span
                if page.featured
                  span Featured
                  span on
                  span= page.tags.join(', ')
                else
                  if page.featured
                    .post-meta
                      i.fa.fa-star
                      span Featured
    .post-content(itemprop="articleBody")
      div
        | !{page.content}
      .share-box
        .share-box-wrap
          h3.box-title Thanks for reading!
            span.box-sub-title Don't forget to spread the word:
            include partials/social-icons
  div.article-end
  if page.next
    section.next-post(data-current-url="")
      .next-post-wrap
        .next-label Next Story
        h2.post-title
          a(href=url_for(page.next.path))= page.next.title
        .post-meta= page.next.date.format('MMM D, YYYY')
        .next-arrow
          a(href=url_for(page.next.path))
            i.fa.fa-angle-double-down
